<form method="POST"> 
<img src=<%@user.photo%> alt="Profile_picture">
<h1><%=@user.name%></h1>
<p>Number of posts: <%=@user.posts_counter%></p>
<div class="bio">
<h2>Bio</h2>
<p><%=@user.bio%></p>
</div>

<% @user.most_recent_posts.each_with_index do |post, index| %>
<div class="recent_posts">
   <h3>Post#<%=index.to_i+1%></h3>
   <p><%=post.text%></p>
   <ul>
   <li>comments: <%=post.comments_counter%></li>
   <li>likes: <%=post.likes_counter%></li>
   </ul>
</div>
<%end %>
<%= link_to "See all posts", user_posts_path(@user.id), class: "see_post_btn" %>
<form>