<%= stylesheet_link_tag 'style' %>
<%=render partial: "shared/user_header", locals: {user: @user}%>
<div class="bio">
<h2>Bio</h2>
<p><%=@user.bio%></p>
</div>

<% @user.most_recent_posts.each do |post| %>
<div class="recent_posts">
   <%=link_to user_post_url(id: post.id, user_id: @user.id), class: "user_post_link" do%>
   <h3>Post#<%=post.id%></h3>
   <%end%>
   <%=render partial: "shared/post", locals: {post: post, user: @user}%>
</div>
<%end %>
<div class="post-btns d-flex justify-content-between  align-self-end">
<%= link_to "See all posts", user_posts_path(@user.id), class: "btn btn-secondary btn-lg" %>
<%if(@user.id.to_i == 1)%>
<%=link_to "Add new post", new_user_post_path(@user.id), class: "btn btn-primary btn-lg"%>
<%end%>
</div>