   <h2 class="h5"><%=post.title%></h2>
   <p><%=post.text%></p>
   <ul>
   <li>comments: <%=post.comments_counter%></li>
   <li>likes: <%=post.likes_counter%></li>
   <li><%=form_with model: @like, url: like_path(user.id), method: :post do |form|%>
    <%= form.hidden_field :post, value: post.id %>
    <%= form.hidden_field :current_user, value: user.id %>
    <div class = "like-btn">
    <i class="bi-hand-thumbs-up-fill"></i>
    <%= form.submit "like"%>
    </div>
   <%end%>
   </li>
   </ul>
