
<%=render partial: "shared/user_header", locals: {user: @user}%>
<% @posts.each_with_index do |post, index| %>
<div class="recent_posts">
<%=link_to user_post_path(id: post.id, index: index.to_i+1), class: "user_post_link" do%>
   <h3>Post#<%=index.to_i+1%></h3>
   <%end%>
   <%=render partial: "shared/post", locals: {post: post, index: index, user: post.user}%>
</div>
<%=render partial: "shared/comments", locals: {post: post, current_user: @current_user}%>
<%end %>
