 <h1>Post#<%=params[:index]%></h1>
 <h2>by <%=username(params[:user_id])%></h2> 

 <ul>
   <li>comments: <%=@post.comments_counter%></li>
   <li>likes: <%=@post.likes_counter%></li>
</ul>

<p><%=@post.text%></p>

<div class="post-comments">
<ul>
<% @post.most_recent_comments.each do |comment|%>
 <li><%=username(comment.user_id)%>: <%=comment.text%></li>
<%end%>
<ul>
</div>