 <div class="single-post">
 <div class="post_details">
 <h1>Post#<%=params[:id]%> by <%=@post.user.name%></h1>
 <ul>
   <li>comments: <%=@post.comments_counter%></li>
   <li>likes: <%=@post.likes_counter%></li>
</ul>
</div>

<p><%=@post.text%></p>
</div>
<%=render partial: "shared/comments", locals: {post: @post, current_user: @current_user}%>